:root {
--btn-width: 25px;
--btn-height: 35px;
}

* {box-sizing: border-box;}

html, body {
  margin: 0 auto;
  padding: 10px;
  background-color: black;
}

h1, h3 {
  text-align: center;
  color: #555;
}

div {
  background-color: #222;
}

.grid {
  margin: auto;
  padding: 5px;
  width: 75vh;
  height: 75vh;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid magenta;
}

.grid div {
  height: 3.5714%;
  width: 3.5714%;
  /* border: 1px solid mediumturquoise; */
}

.pac-dot {
  background-color: green;
  border: 7px solid #222;
  /* box-sizing: border-box; */
}
.wall {
  background-color: blue;
}
.power-pellet {
  background-image: url('../images/Power_Pellet_Image.png');
  background-position: center;
  background-size: cover;
  /* border-radius: 15px; */
}

.pac-man {
  background-image: url('../images/PacMan-Trans-2.png');
  background-position: center;
  background-size: cover;
  border: none;
}

.blinky {
  background-image: url('../images/Blinky-Trans.png');
  background-position: center;
  background-size: contain;
  border: none;
}

.pinky {
background-image: url('../images/Pinky-Trans.png');
  background-position: center;
  background-size: contain;
  border: none;
}

.inky {
  background-image: url('../images/Inky-Trans.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.clyde {
  background-image: url('../images/Clyde-Trans.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.scared-ghost {
  background-image: url('../images/scared-ghost.png');
  background-position: center;
  background-size: cover;
  border: none;
}

/* BUTTONS */
.btn-holder {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.row {
  display: flex;
  flex-direction: row;
  align-content: center;
  padding: 5px;
}

.space {
  width: 60px;
}
/* .middle {
  margin: 50px 0;
} */

.circle {
  border: solid 8px #888;
  border-radius: 100%;
}

.btn-left {
  height: 0;
  width: 0;
  border-top: solid transparent var(--btn-width);
  border-bottom: solid transparent var(--btn-width);
  border-right: solid #555 var(--btn-height);
  background-color: #888;
}

.btn-up {
  height: 0;
  width: 0;
  border-left: solid transparent var(--btn-width);
  border-right: solid transparent var(--btn-width);
  border-bottom: solid #555 var(--btn-height);
  background-color: #888;
}

.btn-right {
  height: 0;
  width: 0;
  border-top: solid transparent var(--btn-width);
  border-bottom: solid transparent var(--btn-width);
  border-left: solid #555 var(--btn-height);
  background-color: #888;
}

.btn-down {
  height: 0;
  width: 0;
  border-left: solid transparent var(--btn-width);
  border-right: solid transparent var(--btn-width);
  border-top: solid #555 var(--btn-height);
  background-color: #888;
}