
* {box-sizing: border-box;}

html, body {
  margin: 0 auto;
  padding: 5px;
  background-color: black;
}

h1, h2 {
  text-align: center;
  color: #aaa;
}

div {
  background-color: #222;
}

.grid {
  margin: auto;
  padding: 5px;
  width: 70vh;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  border: 3px solid magenta;
}

.grid div {
  height: 3.5714%;
  width: 3.5714%;
}

.pac-dot {
  background-color: green;
  border: 7px solid #222;
}
.wall {
  background-color: blue;
}
.power-pellet {
  background-image: url('./images/Power_Pellet_Image.png');
  background-position: center;
  background-size: cover;
}

.pac-man {
  background-image: url('./images/PacMan-Trans-2.png');
  background-position: center;
  background-size: cover;
  border: none;
}

.blinky {
  background-image: url('./images/Blinky-Trans.png');
  background-position: center;
  background-size: contain;
  border: none;
}

.pinky {
background-image: url('./images/Pinky-Trans.png');
  background-position: center;
  background-size: contain;
  border: none;
}

.inky {
  background-image: url('./images/Inky-Trans.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.clyde {
  background-image: url('./images/Clyde-Trans.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  border: none;
}

.scared-ghost {
  background-image: url('./images/scared-ghost.png');
  background-position: center;
  background-size: cover;
  border: none;
}

/* BUTTONS */
.btn-holder {
  margin: 10px auto 0 auto;
  width: 12vh;
  height: 12vh;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
}

.btn-holder div {
  margin: 0 auto;
  width: 4vh;
  height: 4vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.space {
  background-color: black;
}